{% trans_default_domain 'home' %}

<div class="card-home service-to-activate">
    <div class="card-header-home">
        <div class="card-header-home-padding">
            {{ 'service_a_activer'|trans }}
        </div>
    </div>
    <div class="card-number">
        <div class="card-number-padding">{{ services|length }}</div>
    </div>
    <div class="card-footer-home">
        <div class="card-footer-home-padding bg-supporting-yellow to-activate">
            <a  >{{
                'voir_services'|trans
                }}</a>
        </div>
    </div>
</div>