{% trans_default_domain 'home' %}

<div class="card-home service-a-desactiver">
    <div class="card-header-home">
        <div class="card-header-home-padding">
            {{ 'service_a_desactiver'|trans }}
        </div>
    </div>
    <div class="card-number">
        <div class="card-number-padding">{{ services|length }}</div>
    </div>
    <div class="card-footer-home">
        <div class="card-footer-home-padding bg-primary waiting-to-activate">
            <a>{{
                'voir_services'|trans
                }}</a>
        </div>
    </div>
</div>