<header>
    <nav class="navbar navbar-dark bg-dark">
        <a
                class="navbar-brand d-flex align-items-center"
                id="obs-link"
        >
            <div class="d-inline-flex align-items-baseline">
                <img
                        id="obs"
                        src="{{ asset('images/orange-logo.svg') }}"
                        alt="logo orange"
                        aria-hidden="true"
                        loading="lazy"
                />
            </div>
        </a>
        <span class="nav-appname me-auto h2-font">Knowledge Customer Base</span>
        <ul class="nav align-items-center">
            <li class="me-2 my-auto">

            </li>
            <li>

            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle menu-client-mail"
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false"
                >test</a
                >
                <ul class="dropdown-menu">
                    <li>
                        <a
                                class="dropdown-item"
                                target="_blank"
                                href=""
                        >Aide</a>
                    </li>
                    <li>
                        <button
                                class="dropdown-item"
                                data-bs-toggle="modal"
                                data-bs-target="#modalVersion"
                        >
                            Versions
                        </button>
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="">deco</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>