// Actif
.service_admin_actif_code_cell {
  width: 31.3333333333%!important;
}
.service_admin_actif_debut_cell {
  width: 31.3333333333%!important;
}
.service_admin_actif_interlocuteur_cell {
  width: 31.3333333333%!important;
}
.service_admin_actif_checkbox_cell {
  width: 2%!important;
}
.service_admin_actif_edition_cell {
  width: 2%!important;
}
.service_admin_actif_exporter_cell {
  width: 2%!important;
}
// Desactive
.service_admin_desactive_code_cell {
  width: 24.5%!important;
}
.service_admin_desactive_debut_cell {
  width: 24.5%!important;
}
.service_admin_desactive_fin_cell {
  width: 24.5%!important;
}
.service_admin_desactive_interlocuteur_cell {
  width: 24.5%!important;
}
.service_admin_desactive_edition_cell {
  width: 2%!important;
}

// To activate
.service_admin_to_activate_code_cell {
  width: 30.6666666667%!important;
}
.service_admin_to_activate_debut_cell {
  width: 30.6666666667%!important;
}
.service_admin_to_activate_interlocuteur_cell {
  width: 30.6666666667%!important;
}
.service_admin_to_activate_checkbox_cell {
  width: 2%!important;
}
.service_admin_to_activate_edition_cell {
  width: 2%!important;
}
.service_admin_to_activate_activer_cell {
  width: 2%!important;
}
.service_admin_to_activate_non_activer_cell {
  width: 2%!important;
}
// To deactivate
.service_admin_to_deactivate_code_cell {
  width: 23%!important;
}
.service_admin_to_deactivate_debut_cell {
  width: 23%!important;
}
.service_admin_to_deactivate_fin_cell {
  width: 23%!important;
}
.service_admin_to_deactivate_interlocuteur_cell {
  width: 23%!important;
}
.service_admin_to_deactivate_checkbox_cell {
  width: 2%!important;
}
.service_admin_to_deactivate_edition_cell {
  width: 2%!important;
}
.service_admin_to_deactivate_desactiver_cell {
  width: 2%!important;
}
.service_admin_to_deactivate_non_desactiver_cell {
  width: 2%!important;
}