
// Contact entreprise
.ce_nom_prenom_cell {
  width: 22% !important;
}
.ce_email_cell {
  width: 22% !important;
}
.ce_entreprise_cell {
  width: 22% !important;
}
.ce_tel_cell {
  width: 10% !important;
  text-align: center;
}
.ce_fonction_cell {
  width: 20% !important;
  text-align: center;
}
.ce_checkbox_cell {
  width: 2% !important;
}
.ce_trash_cell {
  width: 2% !important;
}
.ce_edit_cell {
  width: 2% !important;
}
.ce_email_icon_cell {
  width: 2% !important;
}

// Contact entreprise
.ce_ci_nom_prenom_cell {
  width: 32% !important;
}
.ce_ci_email_cell {
  width: 32% !important;
}
.ce_entreprise_cell {
  width: 22% !important;
}
.ce_tel_cell {
  width: 10% !important;
  text-align: center;
}
.ce_ci_fonction_cell {
  width: 26% !important;
  text-align: center;
}
.ce_ci_edit_cell {
  width: 4% !important;
}
.ce_ci_checkbox_cell {
  width: 2% !important;
}
.ce_ci_trash_cell {
  width: 2% !important;
}
.ce_edit_cell {
  width: 2% !important;
}
.ce_ci_email_icon_cell {
  width: 2% !important;
}