// Chaine soutien
.service_chaine_soutien_id_cell {
  width: 26.5% !important;
}
.service_chaine_soutien_defaut_cell {
  width: 10% !important;
}
.service_chaine_soutien_niveau_cell {
  width: 26.5% !important;
}
.service_chaine_soutien_motif_cell {
  width: 30% !important;
}
.service_chaine_soutien_edit_cell {
  width: 3% !important;
}
.service_chaine_soutien_checkbox_cell {
  width: 2% !important;
}
.service_chaine_soutien_trash_cell {
  width: 2% !important;
}
// Contact interne
.service_ci_nom_cell {
  width: 22% !important;
}
.service_ci_prenom_cell {
  width: 22% !important;
}
.service_ci_fonction_cell {
  width: 15% !important;
}
.service_ci_role_cell {
  width: 15% !important;
}
.service_ci_interlocuteur_cell {
  width: 14% !important;
}
.service_ci_replace_cell {
  width: 3% !important;
}
.service_ci_edit_cell {
  width: 3% !important;
}
.service_ci_checkbox_cell {
  width: 2% !important;
}
.service_ci_trash_cell {
  width: 2% !important;
}
.service_ci_email_cell {
  width: 2% !important;
}
// Contact client
.service_cc_nom_cell {
  width: 23% !important;
}
.service_cc_prenom_cell {
  width: 23% !important;
}
.service_cc_fonction_cell {
  width: 28% !important;
}
.service_cc_acces_cell {
  width: 20% !important;
  text-align: center;
}
.service_cc_checkbox_cell {
  width: 2% !important;
}
.service_cc_trash_cell {
  width: 2% !important;
}
.service_cc_email_cell {
  width: 2% !important;
}
// Contact partenaire
.service_cp_nom_cell {
  width: 19.2% !important;
}
.service_cp_prenom_cell {
  width: 19.2% !important;
}
.service_cp_entreprise_cell {
  width: 19.2% !important;
}
.service_cp_fonction_cell {
  width: 19.2% !important;
}
.service_cp_email_cell {
  width: 19.2% !important;
}
.service_cp_checkbox_cell {
  width: 2% !important;
}
.service_cp_trash_cell {
  width: 2% !important;
}
.service_cp_email_icon_cell {
  width: 2% !important;
}
// Contact fournisseur

.service_cf_nom_cell {
  width: 19.2% !important;
}
.service_cf_prenom_cell {
  width: 19.2% !important;
}
.service_cf_entreprise_cell {
  width: 19.2% !important;
}
.service_cf_fonction_cell {
  width: 19.2% !important;
}
.service_cf_email_cell {
  width: 19.2% !important;
}
.service_cf_checkbox_cell {
  width: 2% !important;
}
.service_cf_trash_cell {
  width: 2% !important;
}
.service_cf_email_icon_cell {
  width: 2% !important;
}
.sf_service {
  width: 25%!important;
}
.sf_debut {
  width: 25%!important;
}
.sf_fin {
  width: 25%!important;
}
.sf_etat {
  width: 25%!important;
}
