.service_ref_reference_cell {
  width: 48% !important;

}
.service_ref_libelle_cell {
  width: 45% !important;

}
.service_ref_edit_cell {
  width: 3% !important;

}
.service_ref_checkbox_cell {
  width: 2% !important;

}
.service_ref_trash_cell{
  width: 2% !important;

}