// Créé non activé
.service_interlocuteur_cree_code_cell {
  width: 30.6666666667%!important;
}
.service_interlocuteur_cree_debut_cell {
  width: 30.6666666667%!important;
}
.service_interlocuteur_cree_interlocuteur_cell {
  width: 30.6666666667%!important;
}
.service_interlocuteur_cree_checkbox_cell {
  width: 2%!important;
}
.service_interlocuteur_cree_edition_cell {
  width: 2%!important;
}
.service_interlocuteur_cree_activate_cell {
  width: 2%!important;
}
.service_interlocuteur_cree_trash_cell {
  width: 2%!important;
}
// Actif
.service_interlocuteur_actif_code_cell {
  width: 23%!important;
}
.service_interlocuteur_actif_debut_cell {
  width: 23%!important;
}
.service_interlocuteur_actif_fin_cell {
  width: 23%!important;
}
.service_interlocuteur_actif_interlocuteur_cell {
  width: 23%!important;
}
.service_interlocuteur_actif_checkbox_cell {
  width: 2%!important;
}
.service_interlocuteur_actif_edition_cell {
  width: 2%!important;
}
.service_interlocuteur_actif_exporter_cell {
  width: 2%!important;
}
.service_interlocuteur_actif_deactivate_cell {
  width: 2%!important;
}
// Desactivé
.service_interlocuteur_desactive_code_cell {
  width: 24.5%!important;
}
.service_interlocuteur_desactive_debut_cell {
  width: 24.5%!important;
}
.service_interlocuteur_desactive_fin_cell {
  width: 24.5%!important;
}
.service_interlocuteur_desactive_interlocuteur_cell {
  width: 24.5%!important;
}
.service_interlocuteur_desactive_edition_cell {
  width: 2%!important;
}

// En attente sactivation
.service_interlocuteur_en_attente_activation_code_cell {
  width: 32.6666666667%!important;
}
.service_interlocuteur_en_attente_activation_debut_cell {
  width: 32.6666666667%!important;
}
.service_interlocuteur_en_attente_activation_interlocuteur_cell {
  width: 32.6666666667%!important;
}
.service_interlocuteur_en_attente_activation_edition_cell {
  width: 2%!important;
}
// En attente de desactivation
.service_interlocuteur_en_attente_desactivation_code_cell {
  width: 24.5%!important;
}
.service_interlocuteur_en_attente_desactivation_debut_cell {
  width: 24.5%!important;
}
.service_interlocuteur_en_attente_desactivation_fin_cell {
  width: 24.5%!important;
}
.service_interlocuteur_en_attente_desactivation_interlocuteur_cell {
  width: 24.5%!important;
}
.service_interlocuteur_en_attente_desactivation_edition_cell {
  width: 2%!important;
}
