<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kcub{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    {% include 'partials/header.html.twig' %}

    <div class="mainContainer">
        <div class="myContent">
            {% include 'partials/menu.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
