
//Entreprise
.entreprise_raison_cell {
  width: 30% !important;
}
.entreprise_siret_cell {
  width: 30% !important;
}
.entreprise_type_cell {
  width: 30% !important;
}
.entreprise_checkbox_cell {
  width: 2% !important;
}
.entreprise_edit_cell {
  width: 2% !important;
}
.entreprise_trash_cell {
  width: 2% !important;
}
