
// Equipe
.equipe_id_cell {
  width: 23% !important;

}
.equipe_libelle_cell {
  width: 23% !important;

}
.equipe_eds_cell {
  width: 22% !important;

}
.equipe_service_cell {
  width: 23% !important;

}
.equipe_replace_cell {
  width: 3% !important;
}
.equipe_replace_cell button {
  padding: 0;
}
.equipe_checkbox_cell {
  width: 2% !important;
}
.equipe_edit_cell {
  width: 2% !important;
}
.equipe_trash_cell {
  width: 2% !important;
}

// Equipe contact interne
.eci_nom_prenom_cell {
  width: 96% !important;
}
.eci_checkbox_cell {
  width: 2% !important;
}
.eci_trash_cell {
  width: 2% !important;
}

// Equipe service
.es_service_cell {
  width: 40% !important;
}
.es_etat_cell {
  width: 56% !important;
}
.es_checkbox_cell {
  width: 2% !important;
}
.es_trash_cell {
  width: 2% !important;
}