
// Contact interne
.ci_nom_prenom_cell {
  width:22% !important;
}
.ci_services_associes_cell{
  width: 23% !important;
}
.ci_type_cell{
  width: 20% !important;
}
.ci_active_cell {
  width: 6% !important;
  text-align: center;
}
.ci_replace_cell {
  width: 2.5% !important;
}
.ci_replace_cell button {
  padding: 0!important;
}
.ci_checkbox_cell {
  width: 2% !important;
}
.ci_edit_cell {
  width: 2% !important;
}
.ci_trash_cell {
  width: 2% !important;
}
// Contact interne service
.cis_nom_prenom_cell {
  width: 94% !important;
}
.cis_checkbox_cell {
  width: 2% !important;
}
.cis_replace_cell {
  width: 2% !important;
}
.cis_trash_cell {
  width: 2% !important;
}