.services_alertes_code {
  width: 30%!important;
}
.services_alertes_alertes {
  width: 44%!important;
}
.services_alertes_interlocuteur {
  width: 22.6666666667%!important;
}
.services_alertes_edition {
  width: 2%!important;
}
.services_alertes_alertes ul {
  padding: 0!important;
}
