.pagination {
  flex-wrap: nowrap !important;
  margin-bottom: 0!important;
}
.next::before{
  display: block;
  min-width: inherit;
  min-height: inherit;
  content: "";
  background-color: currentColor;
  -webkit-mask: var(--o-chevron-icon) no-repeat 50%/calc(0.5rem + 1px) calc(1rem - 1px);
  mask: var(--o-chevron-icon) no-repeat 50%/calc(0.5rem + 1px) calc(1rem - 1px);
  order: 1;
  transform: scaleX(-1);
}
.previous::before{
  display: block;
  min-width: inherit;
  min-height: inherit;
  content: "";
  background-color: currentColor;
  -webkit-mask: var(--o-chevron-icon) no-repeat 50%/calc(0.5rem + 1px) calc(1rem - 1px);
  mask: var(--o-chevron-icon) no-repeat 50%/calc(0.5rem + 1px) calc(1rem - 1px);
}